
.create-employee {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 50px;
    padding-bottom: 87px !important;
    background-color: rgba(177, 177, 177, 0.377);

    @media screen and (max-width: 1024px ) {
        font-size: 28px;
        padding: 8px 18px 8px 18px;
    }
}

.create-employee-title {
    font-size: 42px;
    color: #678005;
    margin: 15px 0 0 0;
    background-color: white;
    padding: 10px 25px 10px 25px;
    border-radius: 10px;
    margin-bottom: -45px;
    border: 0.2px solid rgba(211, 211, 211, 0.507);
    z-index: 0;

    @media screen and (max-width: 1024px ) {
        font-size: 28px;
        padding: 8px 18px 8px 18px;
    }

}

.create-employee-content {
    width: 90%;
    max-width: 1300px;
    padding: 15px 40px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 8px;
    border: 0.2px solid rgba(211, 211, 211, 0.507);
    box-shadow: 0 8px 24px rgb(149 157 165/20%);

    @media screen and (max-width:1440px ) {
        padding: 40px 35px;
    }

    @media screen and (max-width:1024px ) {
        padding: 40px 15px;
    }

    @media screen and (max-width:768px ) {
        padding: 40px 25px;
    }
}