.react-datepicker-header-dropdown {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    padding: 5px 8px;
}

.react-datepicker-month-dropdown-container {
    width: 50%;
    text-align: start;
}

.react-datepicker-month-dropdown-container-select {
    margin: 0 !important;
}

.react-datepicker-month-select {
    width: 100%;
    height: 30px;
}

.react-datepicker-year-dropdown-container {
    width: 50%;
    text-align: end;
}

.react-datepicker-year-dropdown-container-select {
    margin: 0 !important;
}

.react-datepicker-year-select {
    width: 100%;
    height: 30px;
}

