.employee-table {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.employee-table .search {
    width: 25%;

    @media screen and (max-width: 1024px ) {
        padding: 0 65px 0 65px;
        width: 100%;
        align-self: normal;
    }
}
